[Interface]
PrivateKey={{ wireguard_private_key }}
Address={{ wireguard_ip }}/32

[Peer]
PublicKey={{ wireguard_public_key }}
Endpoint=jonathanhood.org:51820
AllowedIPs={{ wireguard_ip }}/32, 192.168.86.155/32